* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/* Animación 1 */
.texto-animado {
    /* una animación está conpuesta por un nombre y un tiempo */
    animation-name: texto-volador;
    animation-duration: 1s;
    animation-iteration-count: 1;
    border: solid;
}

@keyframes texto-volador {
    from {
        margin-left: 100%;
        width: 300%;
        background-color: aqua;
        border: none;
    }
    to {
        margin-left: -100%;
        background-color: brown;
        color: white;
        border: none;
    }
}

/* paso1 -nombrar la aniamcion y su duration */

.image-animada {
    animation-name: image-resize;
    animation-duration: 5s;
    animation-iteration-count: 1;
    width: 400px;
    height: 400px;
}

@keyframes image-resize {
    from {
        width: 20px;
        height: 20px;
    }

    to {
        width: 100px;
        height: 100px;
    }
}

.box-uno {
    height: 100px;
    width: 100px;
    background-color: red;
    animation-name: box-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes box-animation {
    0% {
        background-color: black;
    }
    25% {
        background-color: sandybrown;
    }
    50% {
        background-color: rgb(34,0,128);
    }
    75% {
        background-color: blueviolet;
    }
    100% {
        background-color: red;
    }
}

.caja-img {
    height: 400px;
    width: 400px;
    background-image: url(https://64.media.tumblr.com/c92bf1f0daad14710d0ff36c802013bb/376ea5b0aef7be2d-00/s640x960/12af5869b89160efa1720e83b5f6a19b4a666b21.pnj);
    background-size: cover;
    animation-name: img-fondo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes img-fondo {
    40% {
        background-image: url(https://64.media.tumblr.com/af14f8f2f6dc95b8350205bec9ec66f5/376ea5b0aef7be2d-03/s540x810/ce88df3e18ad8d6aa9b4594be72772eac576c1e2.pnj);
    }
    70% {
        background-image: url(https://64.media.tumblr.com/212347d00df297460cb76a73587c2b8e/376ea5b0aef7be2d-63/s540x810/cbb1217ee4ca60ee372962c8013bc9100fdfe011.pnj);
    }
    100% {
        background-image: url(https://64.media.tumblr.com/212347d00df297460cb76a73587c2b8e/376ea5b0aef7be2d-63/s540x810/cbb1217ee4ca60ee372962c8013bc9100fdfe011.pnj)
    }
}

/* Ball-1 */
.ball-1 {
    height: 100px;
    width: 100px;
    border: solid green 1px;
    border-radius: 50%;
    animation-name: ball-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes ball-animation {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-130px);
    }
}