* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.principal {
  margin: 33px;
}

section {
  margin: 50px 0px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36.8px;
  text-align: center;
  margin-top: 71px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 27.6px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

ul {
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  margin: 50px 0;
}

.images {
  margin: 50px 0;
}

.images img {
  height: 182px;
  width: 385px;
  margin: 10px;
}


.subtitulo-1 {
  color: #3b06d2;
}
.subtitulo-2 {
  color: #d206b2;
}
.subtitulo-3 {
  color: #aad206;
}

.items1-1 {
  color: #FF0000;
}
.items1-2 {
  color: #1400FF;
}
.items1-3 {
  color: #D79B00;
}
.items1-4 {
  color: #03B2B2;
}

.items2-1 {
  color: #AE8800;
}
.items2-2 {
  color: #AE280B;
}
.items2-3 {
  color: #060564;
}
.items2-4 {
  color: #637300;
}
